a {
	color: #EBF2FA;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}

body {
	text-align: center;
	font-size: 20px;
	margin: 0px;
	display: inline;
	color: #EBF2FA;
	background-color: #BA5A31;
}

form {
	padding-left: 20px;
	justify-content: center;
	background-color: none;
}

label {
	font-size: 20px;
}

nav ul li {
	background-size: fill;
	display: inline;
	text-align: center;
	padding: 5px;
	float: left;
	position: center;
	font-size: 25px;
	color: #EBF2FA;
	margin: 5px;
}

nav {
	background-color: #064789;
	margin-bottom: 10px;
	padding: 0px;
	display: flex;
	justify-content: center;
}

a:hover {
	color: #EBF2FA;
}

li:hover {
	background: #427AA1;
}

button {
	background-color: #E59F71;
	border-bottom-left-radius: 1em 10px;
	border-bottom-right-radius: 1em 10px;
	border-top-left-radius: 1em 10px;
	border-top-right-radius: 1em 10px;
	border-style: none;
	color: #EBF2FA;
	padding: 5px;
	font-size: 18px;
}

h1{
	background-color: #BA5A31;
	background-size: fill;
	margin: 0px;
	padding: 10px;
	color: #EBF2FA;
}

p{
	background-color: #BA5A31;
	padding: 10px;
}