<html xmlns:th="https://thymeleaf.org">
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="tableresults.css">
	</head>
	
	<body onload="hide()">
		<div id="phead">
			<h1>Welcome</h1>
			<nav>
				<ul>
					<li id="lp"><a href="index">Home</a></li>
					<li id="lp"><a href="aboutUs">About Us</a></li>
					<li id="lp"><a href="contact">Contact Us</a></li>
					<li id="reg"><a href="register">Register</a></li>
					<li id="sign"><a href="login">Sign In</a></li>
					<li id="usr" hidden th:text="${user.username}"></li>
					<li id="log" hidden><a href="logout">Logout</a></li>
				</ul>
			</nav>
		</div>
		
		<p>
			This web application allows you to search libraries that are in the state of Missouri.
			
			Data Source: https://www.sos.mo.gov/library/libdir
		</p>
		
		<form action="#" th:action="@{/result}" method="post" th:object="${libdata}">
			<table>
				<tr>
					<td><label for="libName">Library Name: </label></td>
					<td><input type="text" id="libName" name="libName"></td>
				</tr>
				
				<tr>
					<td><label for="branchName">Library Branch Name: </label></td>
					<td><input type="text" id="branchName" name="branchName"></td>
				</tr>
				
				<tr>
					<td><label for="addr">Library Address: </label></td>
					<td><input type="text" id="addr" name="addr"></td>
				</tr>
				
				<tr>
					<td><label for="city">Library City: </label></td>
					<td><input type="text" id="city" name="city"></td>
				</tr>
				
				<tr>
					<td><label for="zip">Zip Code: </label></td>
					<td><input type="number" id="zip" name="zip" value="0" required></td>
				</tr>
				
				<tr>
					<td><label for="county">Library Country: </label></td>
					<td><input type="text" id="county" name="county"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><button type="submit">Search</button></td>
				</tr>
			</table>
		</form>
		<div id="libres1" hidden>
			<table id="libres" class="libresults">
				<thread>
					<tr>
						<td>Library Name</td>
						<td>Branch Name</td>
						<td>Address</td>
						<td>City</td>
						<td>Zip Code</td>
						<td>County</td>
						<td>Library Email Address</td>
					</tr>
				</thread>
				<tr th:each="lib : ${temp}">
					<td th:text="${lib.getLibName()}">Library Name</td>
					<td th:text="${lib.getBranchName()}">Branch Name</td>
					<td th:text="${lib.addr}">Address</td>
					<td th:text="${lib.city}">City</td>
					<td th:text="${lib.zip}">Zip Code</td>
					<td th:text="${lib.county}">County</td>
					<td th:text="${lib.email}">Library Email Address</td>
				</tr>
			</table>
			
			<div id="review">
				<p>Do you want to update the database?</p>
				<form action="/update">
					<button type="submit" value="Submit">Yes</button>
				</form>
				
				<form action="/thankyou">
					<button>No</button>
				</form>
			</div>
			
		</div>
		<script th:inline="javascript" type="text/javascript">
			
			function hide(){
				var x = document.getElementById("libres1");
				var y = document.getElementById("usr");
				
				document.getElementById("log").style.dispaly = "none";
				
				if(window.location.pathname === "/result"){
					x.style.display = "block";
				}
				
				document.getElementById("usr").style.display = "none";
				document.getElementById("log").style.display = "none";
				
				if(y.innerHTML.length > 0){
					document.getElementById("reg").style.display = "none";
					document.getElementById("sign").style.display = "none";
					document.getElementById("log").style.display = "block";
					y.style.display = "block";
				}
				else{
					document.getElementBtId("reg").style.display = "block";
					document.getElementById("sign").style.display = "block";
					document.getElementById("usr").style.display = "none";
					doucment.getElementById("log").style.display = "none";
				}
				
			}
		</script>
		
	</body>
</html>