<html xmlns:th="https://thymeleaf.org">
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	
	<body>
		<h1>Library Search</h1>
		<form action="#" th:action="@{/result}" th:object="${libdata}" method="post">
			<table>
				<tr>
					<td><label for="libname">Name: </label></td>
					<td><input id="libname" name="libname"></td>
				</tr>
				<tr>
					<td><label for="addr">Library Address: </label></td>
					<td><input type="text" id="addr" name="addr"></td>
				</tr>
				<tr>
					<td><label for="city">Library City: </label></td>
					<td><input type="text" id="city" name="city"></td>
				</tr>
				
				<tr>
					<td><label for="county">Library Country: </label></td>
					<td><input type="text" id="county" name="county"></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Search</button></td>
				</tr>
			</table>
		</form>
	</body>
</html>